{% extends 'base.html' %}
{% block start %}

{% comment %} <div class="container mt-5">
    <form class="col-6 mx-auto card p-4" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Login</h2>
        <div class="mb-3">
            <label for="InputUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="InputUsername" name="username">
        </div>
        <div class="mb-3">
          <label for="InputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="InputPassword" name="password">
        </div>
        <p>
            Don't have an account?
            <a href="/register">Register here</a>
        </p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> {% endcomment %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-4" method="post">
        {% csrf_token %}
        <h2>Login</h2>
        
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        
        <p>
            Don't have an account?
            <a href="/core/register">Register here</a>
        </p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock %}